/* Flexbox */
body {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Conteúdo principal */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* Bloco de produtos */
.lista_de_itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cards_produtos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.preco_card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}

/* Bloco de adicionar produtos */
.painel_adicionar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    gap: 16px;
}

.formulario_adicionarProduto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.botoes_adicionar_limpar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

/* Input imagem */
.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rodapé */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}