/* Imports fontes */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variavés */
:root {
  --base-dark: #222831;
  --base-grey: #31363f;
  --base-light: #eeeeee;
  --base-hover: #3a787b;
  --font-title: "Silkscreen", sans-serif;
  /* --font-body: "Chakra Petch", sans-serif; */
  --font-body: "Roboto", sans-serif;
}

/* Estilização */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--base-light);
}

header {
  width: 100%;
  background-color: var(--base-dark);
  padding: 1% 0 1% 0;
}

header h1 {
  font-family: var(--font-title);
  font-size: 32px;
  font-weight: 700;
  color: var(--base-light);
}

header img {
  width: 48px;
}

main {
  margin: 0 128px;
}

.lista_de_itens {
  /* max-width: 800px; */
  width: 70%;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
}

.lista_de_itens h1 {
  text-align: center;
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 2px;
}

.cards_produtos {
  width: 100%;
}

.card {
  width: 152px;
  height: 232px;
  background-color: var(--base-grey);
  border: solid 4px black;
  padding: 1%;
  text-align: center;
  color: var(--base-light);
  transition: 0.5s;
}

.card:hover {
  background-color: var(--base-hover);
}

.card .botao__apagar img {
  width: 24px;
  border: none;
  cursor: pointer;
}

.card img {
  width: 128px;
  border: solid 2px var(--base-dark);
}

.card h2 {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  white-space: wrap;
}

.card h3 {
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.preco_card {
  width: 100%;
}

.painel_adicionar {
  background-color: white;
  width: 30%;
  border-radius: 4px;
  padding: 32px; 
}

.painel_adicionar h1 {
  text-align: center;
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 700;
  color: var(--base-dark);
  letter-spacing: 2px;
}

.formulario_adicionarProduto label {
  text-align: center;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 600;
  color: var(--base-dark);
  letter-spacing: 2px;
}

.formulario_adicionarProduto input {
  width: 264px;
  height: 40px;
  background-color: var(--base-light);
  border: solid 2px var(--base-dark);
  border-radius: 4px;
}

.botao {
    width: 128px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px var(--base-dark);
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.5s;
}

.botao:hover {
  background-color: var(--base-hover);
}

.botao_adicionar {
  background-color: var(--base-dark);
  color: var(--base-light);
}

.caixa input {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 600;
  color: var(--base-grey); 
  padding-left: 10px;
}

/* Input de imagem */
#pictureinput {
    display: none;
}

.picture {
    width: 176px;
    height: 174px;
    background: var(--base-light);
    color: #aaa;
    border: 2px solid currentcolor;
    border-radius: 8px;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: var(--base-light);
}

.picture:active {
    border-color: aqua;
    color: var(--base-hover);
    background: white;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pictureimg {
    max-width: 100%;
}

span {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.imagemAdicionar {
  align-self: center;
}

/* Rodapé */
footer {
  background-color: var(--base-hover);
  color: var(--base-dark);
  font-size: 16px;
  font-family: var(--font-body);
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3em;
  padding: 1%;
}